<link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/web2py-bootstrap3.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static','css/myapp.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}"/>

<div class="post_listing">

    <div class="button_list">
    {{for b in button_list:}}
        <div class="top_button">{{=b}}</div>
    {{pass}}
    </div>
    {{=form}}

</div>
